body {
    background: #222;
}

#togglenav {
    margin: 1em;
    width: 40px;
}

#togglenav::after,
#togglenav::before,
#togglenav div {
    background-color: #fff;
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

/* animation */

#togglenav.open::after {
    transform: translateY(-12px) rotate(-135deg);
}

#togglenav.open::before {
    transform: translateY(12px) rotate(135deg);
}

#togglenav.open div {
    transform: scale(0);
}